.bryce {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 0px;
    color: #ffffff;
}

.pagetitle {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;   
}


li {
      border-right: 1px solid #dddddd;
      color: #666666;
}

li:last-child {
    border-right: none;
}

p  {
    line-height: 200%;
}

#foot {
    background: #666666;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 30px;
}